
body {
  background-color: #463c0c;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

input, button, #resultDisplay {
  background-color: #737f1a;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 5px;
}

::placeholder {
  color:#f8f9c3
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #dcff2e;
}

h3 {
  margin-top: 50px;
}